<div class="mt-2">
  <div class="row pageTitle ml-2 mr-2">
    <div class="col-md-10 initialPadding" style="display: flex;align-items:center;">
      <span>{{'general.menu.insights' | translate}}</span>
    </div>
  </div>
</div>

<div class=" m-3">
  <!-- <mat-button-toggle-group multiple="false" [(ngModel)]="activeOption.value" (ngModelChange)="changeInsights($event)">
    <mat-button-toggle *ngFor="let item of toggleOptions;" [value]="item.value">{{item.label}}</mat-button-toggle>
  </mat-button-toggle-group> -->
  <mat-button-toggle-group
  (change)="changeInsights($event)"
  [value]=InsightsType
>
  <mat-button-toggle
    *ngFor="let toggle of toggleOptions"
    [value]="toggle.value"
  >{{ toggle.label }}</mat-button-toggle>
</mat-button-toggle-group>
</div>
<!-- <div class="row ml-2 mr-1 mt-4 mb-3 d-inline-block"> -->
<div class="ml-2 mr-1 mt-4 mb-3">
  <div class="tab-content">

    <div role="tabpanel">
      <div class="col-md-12 mb-3">
        <div class="row incident-filter-row">
          <!-- filter rows -->
          <div class="mr-4 mb-4">
            <mat-chip-list *ngIf="(InsightsType != 'PREDICTIONS')">
              <mat-chip *ngFor="let chip of filterOptions" [ngClass]="{'mat-chip-active': activeFilter === chip}"
                (click)="setActiveChip(chip)">
                {{ chip.value }}
              </mat-chip>
            </mat-chip-list>
            <!-- <mat-chip-list *ngIf="(InsightsType == 'PREDICTIONS')">
              <mat-chip  [ngClass]="{'mat-chip-active': activeFilter}">
                All
              </mat-chip>
            </mat-chip-list> -->
              <!-- <div style="color: rosybrown;"> {{activeFilter.value}}</div> -->
        </div>
        <div class="mb-4 mt-1">
          <span class="topStages Total">{{ entities.length }}</span>
          <span class="labels">&nbsp;&nbsp;Records found</span>
      </div>
        </div>
      </div>

      <div class="row col-12">
        <!-- style="margin: 15% 35%;" -->
        <mat-spinner *ngIf="isLoading" class="mx-auto my-5">
        </mat-spinner>
      </div>
      <!-- table -->
      <div class="col-md-10"
          style="padding: inherit; text-align: center; font-size: 20px;"
          *ngIf="entities.length == 0 && !isLoading">
          <p-table #entity [columns]="cols" [value]="entities" [resizableColumns]="true" sortMode="multiple" [globalFilterFields]= "filterFields"
          [(selection)]="selectedItems" [paginator]="true" [rows]="12">
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
        </p-table>
        <p></p>
        <p>No {{InsightsType}} found</p>
          
      </div>

      <div class="row ml-auto mr-auto entitiesTable " *ngIf="entities.length > 0 && !isLoading">
        <p-table #entity [columns]="cols" [value]="entities" [resizableColumns]="true" sortMode="multiple" [globalFilterFields]= "filterFields"
          [(selection)]="selectedItems" [paginator]="true" [rows]="12">
          <!-- <ng-template pTemplate="caption">
            Users List
              </ng-template> -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th *ngFor="let col of columns">
                {{col.header}}
              </th> -->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" [ngClass]="[col.header == 'Model Name' ? 'big-width' : '']">
                <span>
                  {{ col.header }}
                  <p-sortIcon [field]="col.field"></p-sortIcon>
                </span>
                <!-- {{col.header}} -->
            </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-i="rowIndex" let-entity let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <!-- <span title="{{entity[col.field]}}" *ngIf="(col.field == 'url' || col.field == 'name')" class="big-font">
                  {{entity[col.field]}}
                </span>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'riskScore')" [ngClass]="[entity[col.field] <= 65 ? 'green big-font' : ((entity[col.field] >= 66 && entity[col.field] <= 85) ? 'yellow big-font' : 'red big-font')]">
                  {{entity[col.field]}}
                </span>
                
                <span title="{{entity[col.field]}}" *ngIf="!(col.field == 'riskScore' || col.field == 'url' || col.field == 'name' || col.field == 'empId')">
                  {{entity[col.field]}}
                </span> -->
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'incidentCreatedTime')">
                  {{ entity[col.field] | date:'MMM d y HH:mm:ss' }}
                </span>
                <button title="{{entity[col.field]}}" type="button" class="btn btn-sm" 
                    *ngIf="(col.field == 'confidence')" [ngClass]="[(entity[col.field] === 'LOW') ? 'yellow-btn' : 'green-btn']">
                  {{entity[col.field]}} 
                </button>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'ruleName')" class="big-font blue-color">
                  {{entity[col.field]}}
                </span> 
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'incId')" class="big-font blue-color">
                  <a [routerLink]="['/incidentSummary/', entity[col.field]]">
                    INC-{{entity[col.field]}}
                  </a>
                </span>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'ruleType')">
                  {{ checkIsCEP(entity[col.field]) }}
                </span> 
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'distinctRuleCount')">
                  {{ intToString(entity[col.field]) }}
                </span> 
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'riskScore')">
                  {{ entity[col.field] | number:'.0-2' }}
                </span> 
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'entity')" >
                  <a [routerLink]="['/riskyUser/', entity[col.field]]" style="color: #bebe59;">
                    {{ entity[col.field] }}
                  </a>
                </span> 
                <div *ngIf="(col.field == 'causeRuleNames')" >
                <span title="{{entity[col.field]}}" 
                    [innerHTML]="makeNewLine(entity[col.field])">
                   
                </span> 
                <img src="../../../assets/images/right_arrow.png" alt="this slowpoke moves" width= 20 style="position: absolute;
                left: 30%;"/>
              </div>
                  <!-- [ngClass]="{
                    pbGreen: element.job_status == 'Complete',
                    pbAmber: element.job_status != 'Complete'
                  }" -->
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'probability')"  class="d-flex justify-content-center"> 
                  <mat-progress-bar mode="determinate" [value]= "entity[col.field]* 100" [ngClass]="{
                    Green: entity[col.field] * 100 >= 60,
                    Amber: entity[col.field] * 100 >= 30 && entity[col.field] * 100 < 60,
                    Red:  entity[col.field] * 100 < 30
                  }"></mat-progress-bar>
                </span>
                <span title="{{entity[col.field].length}}" *ngIf="(col.field == 'rules')">
                  {{ entity[col.field].length }}
                </span> 
                <span *ngIf="(col.field == 'userFlagged')">{{userFlagged[i]}}</span>
                <span *ngIf="(col.field == 'ipFlagged')">{{ipFlagged[i]}}</span>
                <span *ngIf="(col.field == 'hostFlagged')">{{hostFlagged[i]}}</span>
                <span *ngIf="(col.field == 'urlFlagged')">{{urlFlagged[i]}}</span>
                <!-- <span *ngIf="(col.field == 'violatorTypes')">
                  {{ entity[col.field][0].violators.length }}
                </span> -->
                <span title="{{entity[col.field]}}" *ngIf="!(col.field == 'userFlagged' || col.field == 'ipFlagged' || col.field == 'hostFlagged' || col.field == 'urlFlagged' || col.field == 'violatorTypes' || col.field == 'rules' || col.field == 'causeRuleNames' || col.field == 'confidence' || col.field == 'distinctRuleCount' || col.field == 'ruleName' || col.field == 'incidentCreatedTime' || col.field == 'incId' || col.field == 'ruleType' || col.field == 'riskScore' || col.field == 'entity')">
                  {{entity[col.field]}}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>