<div class="mt-2">
  <div class="row pageTitle ml-2 mr-2">
    <div class="col-md-10 initialPadding" style="display: flex;align-items:center;">
      <span>{{'general.menu.identity360' | translate}}</span>
    </div>
  </div>
</div>

<div class=" m-3">
  <!-- <mat-button-toggle-group multiple="false" [(ngModel)]="activeOption.value" (ngModelChange)="changeIdentity($event)">
    <mat-button-toggle *ngFor="let item of toggleOptions;" [value]="item.value">{{item.label}}</mat-button-toggle>
  </mat-button-toggle-group> -->

  <mat-button-toggle-group
  (change)="changeIdentity($event)"
  [value]=selectedIdentity
>
  <mat-button-toggle
    *ngFor="let toggle of toggleOptions"
    [value]="toggle.value"
  >{{ toggle.label }}</mat-button-toggle>
</mat-button-toggle-group>
</div>

<!-- <div class="row ml-2 mr-1 mt-4 mb-3 d-inline-block"> -->
<div class="ml-2 mr-1 mt-4 mb-3">
  <div class="tab-content">

    <div role="tabpanel">
      <!--  *ngIf="identities.length > 0 && !isLoading" -->
      <div class="col-md-12 mb-3">
        <div class="row incident-filter-row">
          <!-- filter rows -->
          <div class="mr-4 mb-4">
            <mat-chip-list *ngIf="(selectedIdentity == 'USER TYPES')">
              <mat-chip *ngFor="let chip of filterOptions" [ngClass]="{'mat-chip-active': activeFilter === chip}"
                (click)="setActiveChip(chip)">
                {{ chip.label }}
              </mat-chip>
            </mat-chip-list>
        </div>
        <div class="mb-4 mt-2">
          <span class="topStages Total">{{ totalRows }}</span>
          <span class="labels">&nbsp;&nbsp;Records found</span>
      </div>
      <div class="ml-5 mb-4 mt-2" *ngIf="isRiskyCheck">
        <span class="labels" style="color: red;"> RISKY DATA </span>
      </div>
        </div>
      </div>

      <div class="row col-12">
        <!-- style="margin: 15% 35%;" -->
        <mat-spinner *ngIf="isLoading" class="mx-auto my-5">
        </mat-spinner>
      </div>
      <!-- table -->
      <div class="col-md-10"
          style="padding: inherit; text-align: center; margin-top: 10%; font-size: 20px;"
          *ngIf="identities.length == 0 && !isLoading">
          <p>No Identities found</p>
      </div>

      <div class="row ml-auto mr-auto entitiesTable " *ngIf="identities.length > 0 && !isLoading">
        <!-- <p-table #identity [columns]="cols" [value]="identities" [resizableColumns]="true" sortMode="multiple" [globalFilterFields]= "filterFields"
          [(selection)]="selectedItems" [paginator]="true" [rows]="rowSize" [totalRecords]="totalRows" [lazy]="true" (onLazyLoad)="loadIdentityLazy($event)"  [loading]="isLoading"> -->
          <p-table #identity [columns]="cols" [value]="identities" [resizableColumns]="true" sortMode="multiple" [globalFilterFields]= "filterFields"
          [(selection)]="selectedItems" [paginator]="true" [rows]="rowSize" [totalRecords]="totalRows" (onLazyLoad)="loadIdentityLazy($event)">
          <!-- <ng-template pTemplate="caption">
            Users List
              </ng-template> -->
          <ng-template pTemplate="header" let-columns>
            <tr>
              <!-- <th *ngFor="let col of columns">
                {{col.header}}
              </th> -->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-entity let-columns="columns">
            <tr>
              <td *ngFor="let col of columns">
                <!-- <span title="{{entity[col.field]}}" *ngIf="(col.field == 'url' || col.field == 'name')" class="big-font">
                  {{entity[col.field]}}
                </span>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'riskScore')" [ngClass]="[entity[col.field] <= 65 ? 'green big-font' : ((entity[col.field] >= 66 && entity[col.field] <= 85) ? 'yellow big-font' : 'red big-font')]">
                  {{entity[col.field]}}
                </span>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'empId')" class="big-font emp-id">
                  {{entity[col.field]}}
                </span> 
                <span title="{{entity[col.field]}}" *ngIf="!(col.field == 'riskScore' || col.field == 'url' || col.field == 'name' || col.field == 'empId')">
                  {{entity[col.field]}}
                </span> -->
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'empId')" class="big-font emp-id">
                  <a [routerLink]="['/riskyUser/', entity[col.field]]">{{entity[col.field]}}</a>
                </span>
                <span title="{{entity[col.field]}}" *ngIf="(col.field == 'riskScore')" [ngClass]="[entity[col.field] <= 65 ? 'green big-font' : ((entity[col.field] >= 66 && entity[col.field] <= 85) ? 'yellow big-font' : 'red big-font')]">
                  {{entity[col.field]}}
                </span>
                <span title="{{entity[col.field]}}"  *ngIf="!(col.field == 'riskScore' || col.field == 'empId')">
                  {{entity[col.field]}}
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</div>