
<div class="header2">
    <h1 style="color: white;margin-left: 80px;">Cetas Product</h1>
    <h2 style="color: white;margin-left: 80px;">Pricing Plans</h2>
    <div class="right">
    <img src="assets/dollr.jpg" alt=""  >
    </div>
    </div>
    
    <div class="ribbon">
      <span class="ribbon-text">PRICE LIST</span>
    </div>
    <!-- <p style="text-align:center">Resize the browser window to see the effect.</p> -->
    
    
    <hr>
    <div class="columns">
       <ul class="price">
        <li class="header" style="background-color:#ff0000;">Premium</li>
        <div class="triangle-down"></div>
        <li></li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li style="color: green;">&#10004;</li>
        <li style="color: green;">&#10004;</li>
        <li>1GB Bandwidth</li>
        <li style="background-color:#ff0000;"><a href="#" class="button" style="background-color:#ff0000;" >Subscribe Now</a></li>
      </ul>
      </div>
      
    
    <!-- <hr class="new4"> -->
    
    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color:#006ed9">Standard</li>
        <div class="triangle-down1"></div>
        <li></li>
        <li>25 Emails</li>
        <li>25 Domains</li>
        <li>2GB Bandwidth</li>
        <li style="color: green;">&#10004;</li>
        <li style="color: red;">&#10006;</li>
        <li>1GB Bandwidth</li>
        <li style="background-color:#006ed9 ;"><a href="#" class="button" style="background-color:#006ed9 ;">Subscribe Now</a></li>
      </ul>
    </div>
    <!-- <hr class="new4"> -->
    
    <div class="columns">
      <ul class="price">
        <li class="header" style="background-color :#ffb900;">Trial</li>
        <div class="triangle-down2"></div>
        <li></li>
        <li>50 Emails</li>
        <li>50 Domains</li>
        <li>5GB Bandwidth</li>
        <li style="color: red;">&#10006;</li>
        <li style="color: red;">&#10006;</li>
        <li>1GB Bandwidth</li>
        <li style="background-color:#ffb900;"><a href="#" class="button" style="background-color:#ffb900;">Subscribe Now</a></li>
      </ul>
    </div>
    <!-- <hr class="new4" > -->
    <div class="columns">
      <ul class="price1">
        <li class="header1" style="height: 187px;"><h4 >Features List</h4></li>
        <!-- <li class="grey">$ 9.99 / year</li>  -->
        <li>10GB Storage</li>
        <li>10 Emails</li>
        <li>10 Domains</li>
        <li>1GB Bandwidth</li>
        <li>1GB Bandwidth</li>
        <!-- <li class="grey"><a href="#" class="button" style="background-color:#ff9900;" >Subscribe Now</a></li> -->
      </ul>
    </div>
    